@model Client.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<form action="Home/Index" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.StartStation)
        @Html.ValidationMessageFor(m => m.StartStation)
        @Html.DropDownListFor(m => m.StartStation, Model.Stations, "Select a destination station", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DestinationStation)
        @Html.ValidationMessageFor(m => m.DestinationStation)
        @Html.DropDownListFor(m => m.DestinationStation, Model.Stations, "Select a destination station", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.Time)
        @Html.ValidationMessageFor(m => m.Time)
    </div>

    <button type="submit" class="btn btn-primary">Find path</button>
</form>

@if (Model.Result != null)
{
    <p>@Model.Result</p>
}

